<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem: {% block title %}Home{% endblock %}</title>

    <link rel="icon" href="#/static/img/sistem-icon.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="/static/mdb/css/mdb.min.css" rel="stylesheet"/>
    
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="/static/css/style-css.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.3/dist/sweetalert2.all.min.js"></script>
</head>
<body class="bg-light">
  <header class="topbar">
    <nav class="navbar fixed-top bg-primary bg-gradient navbar-dark shadow-sm ps-3">
        <div class="container-fluid justify-content-center align-items-center">
            <a class="navbar-brand d-flex align-items-center toggle-btn" id="sidebarToggle" role="button">
                <img src="#/static/img/sistem-icon-white.png" class="logo-small" alt="Logo" height="35" />
                <img src="#/static/img/sistem-putih.png" class="logo-big" alt="Logo Full" height="25" />
                <span class="toggle-btn" aria-label="Toggle sidebar">
                    ☰
                </span>
            </a>

            <ul class="navbar-nav ms-auto me-3">
                <li class="nav-item dropdown">
                    <a data-mdb-dropdown-init class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                        id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                        <i class="fas fa-user fa-lg text-white me-2"></i>
                        <input type="hidden" id="user" name="user" value="{{user}}" />
                        <span class="text-white fw-bold me-2">{{user}}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item text-danger fw-bold" href="/logout" role="button" id="logoutBtn">
                                <i class="fas fa-right-from-bracket me-2"></i>Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

    <main class="container-fluid py-4 mt-5 px-3 mx-auto">
        {% block content %}{% endblock %}
    </main>

 
    {% block scripts %}{% endblock %}
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/mdb/js/mdb.umd.min.js"></script>
</body>
</html>
