.text-justify {
  text-align: justify !important;
  text-justify: inter-word !important;
  list-style-type: disc !important;       /* gunakan bullet */
  margin-left: 0.5rem !important;         /* jarak kiri */
  padding-left: 0.5rem !important;          /* padding tambahan */
  text-align: justify !important;         /* contoh tambahan */
  text-justify: inter-word !important;
}